<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Trace"
      internalLogFile="nlog-internal.log">

	<targets>
		<!-- Ghi log vào SQLite -->
		<target xsi:type="Database"
				name="sqlite"
				dbProvider="System.Data.SQLite"
				connectionString="Data Source=${basedir}/../../../Database/database.db;Version=3;">
			<commandText>
				INSERT INTO Log (Timestamp, Level, Logger, Message, Exception, Username)
				VALUES (@time, @level, @logger, @message, @exception, @username);
			</commandText>

			<parameter name="@time" layout="${longdate}" />
			<parameter name="@level" layout="${level}" />
			<parameter name="@logger" layout="${logger}" />
			<parameter name="@message" layout="${message}" />
			<parameter name="@exception" layout="${exception:format=tostring}" />
			<parameter name="@username" layout="${gdc:Username}" />
			<!-- Đổi từ mdc thành mdlc -->
		</target>
	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="sqlite" />
	</rules>
</nlog>
